/* light theme colors */
$background-primary: hsl(0, 0%, 100%);
$background-secondary: hsl(0, 0%, 97%);
$action-primary: hsl(214, 32%, 91%);
$action-secondary: hsl(210, 38%, 95%);
$foreground-primary: hsl(218, 23%, 23%);
$foreground-secondary: hsl(216, 15%, 52%);
$foreground-tertiary: hsl(214, 20%, 69%);
$accent: hsl(229, 76%, 66%);

/* color */
$white: hsl(0, 0%, 100%);

/* typography */
$fs-base: 0.85rem;
$fs-1: 1.875rem;
$fs-2: 1.5rem;
$fs-3: 1.25rem;
$fs-4: 0.875rem;
$fs-5: 0.75rem;

/* spacing */
$py: 5rem;

// COLORS
$color-primary: #007ced;

$color-grey-dark-1: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #666666;
$color-grey-dark-4: #333333;
$color-grey-dark-5: #d5d5d5;
$color-grey-dark-6: #aaaaaa;
$color-grey-dark-7: #f5f5f5;
$color-grey-dark-8: #fcfcfc;
$color-grey-dark-9: #eeeeee;
$color-grey-dark-10: #f2f2f2;

$color-white: #ffffff;
$color-black: #000;
$color-black-1: #222;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT SIZE
$default-font-size: 1.6rem;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
