.light-theme::-webkit-scrollbar-thumb {
  border-color: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-thumb {
  border-color: hsl(219, 27%, 20%);
}

.light-theme::-webkit-scrollbar-track {
  background: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-track {
  background: hsl(219, 27%, 20%);
}
